{% extends 'layouts/main.html' %}
{% block title %}Venue Search{% endblock %}
{% block content %}

<div class="row">
	<div id="error" class="hidden" >Please Refresh The Page!</div>
	<div class="col-sm-6">
		<button class = "deleted" data-id="{{ venue.id }}" style="float:right;background: none;border: none; color: red; padding: 12px 16px; font-size: 16px; cursor: pointer;" data-id="{{venue.id}}"><i class="fas fa-trash" data-id="{{venue.id}}"></i></button>
		<a id = 'edit-btn' href = '/venues/{{venue.id}}/edit' style="float:right; color: rgb(255, 115, 0); padding: 12px 16px; font-size: 16px; cursor: pointer;"><i class="fas fa-edit"></i></a>

		<h1 class="monospace" style="display: inline-block;">
			{{ venue.name }}
		</h1>

		<p class="subtitle">
			ID: {{ venue.id }}
		</p>
		<div class="genres">
			{% for genre in venue.genres %}
			<span class="genre">{{ genre }}</span>
			{% endfor %}
		</div>
		<p>
			<i class="fas fa-globe-americas"></i> {{ venue.city }}, {{ venue.state }}
		</p>
		<p>
			<i class="fas fa-map-marker"></i> {% if venue.address %}{{ venue.address }}{% else %}No Address{% endif %}
		</p>
		<p>
			<i class="fas fa-phone-alt"></i> {% if venue.phone %}{{ venue.phone }}{% else %}No Phone{% endif %}
		</p>
		<p>
			<i class="fas fa-link"></i> {% if venue.website %}<a href="{{ venue.website }}" target="_blank">{{ venue.website }}</a>{% else %}No Website{% endif %}
		</p>
		<p>
			<i class="fab fa-facebook-f"></i> {% if venue.facebook_link %}<a href="{{ venue.facebook_link }}" target="_blank">{{ venue.facebook_link }}</a>{% else %}No Facebook Link{% endif %}
		</p>
		{% if venue.seeking_talent %}
		<div class="seeking">
			<p class="lead">Currently seeking talent</p>
			<div class="description">
				<i class="fas fa-quote-left"></i> {{ venue.seeking_description }} <i class="fas fa-quote-right"></i>
			</div>
		</div>
		{% else %}	
		<p class="not-seeking">
			<i class="fas fa-moon"></i> Not currently seeking talent
		</p>
		{% endif %}
	</div>
	<div class="col-sm-6">
		<img src="{{ venue.image_link }}" alt="Venue Image" />
	</div>
</div>
<section>
	<h2 class="monospace">{{ venue.upcoming_shows_count }} Upcoming {% if venue.upcoming_shows_count == 1 %}Show{% else %}Shows{% endif %}</h2>
	<div class="row">
		{%for show in venue.upcoming_shows %}
		<div class="col-sm-4">
			<div class="tile tile-show">
				<img src="{{ show.artist_image_link }}" alt="Show Artist Image" />
				<h5><a href="/artists/{{ show.artist_id }}">{{ show.artist_name }}</a></h5>
				<h6>{{ show.start_date|datetime('full') }}</h6>
			</div>
		</div>
		{% endfor %}
	</div>
</section>
<section>
	<h2 class="monospace">{{ venue.past_shows_count }} Past {% if venue.past_shows_count == 1 %}Show{% else %}Shows{% endif %}</h2>
	<div class="row">
		{%for show in venue.past_shows %}
		<div class="col-sm-4">
			<div class="tile tile-show">
				<img src="{{ show.artist_image_link }}" alt="Show Artist Image" />
				<h5><a href="/artists/{{ show.artist_id }}">{{ show.artist_name }}</a></h5>
				<h6>{{ show.start_date|datetime('full') }}</h6>
			</div>
		</div>
		{% endfor %}
	</div>
</section>
<script>
	const deleteVenues = document.querySelector(".deleted")
	deleteVenues.onclick = function(e){
	var ID = e.target.dataset['id']
	if (! ID ){
		const deleteVenue = document.querySelector(".fa-trash")
		ID = deleteVenue.getAttribute('data-id');
		console.log(deleteVenue)
	}
	fetch('/venues/'+ID, {method: 'DELETE'})
	.then(function(){
        document.getElementById('error').className = '';
		console.log(document.getElementById('error').className);
    })
	.catch(function(){
		document.getElementById('error').className = 'hidden';
	});
	}
	

  </script>
{% endblock %}

